@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700);

html, body {
	background-color: #fff;
	color: #323537;
	font-family: Roboto Slab, -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.6667;
	height: 100vh;
	margin: 0;
}

a {
	color: inherit;
	white-space: nowrap;
}

a:not(:hover) {
	text-decoration: none;
	color: #818A91;
}

.anchor {
	top: 0;
	right: 100%;
	bottom: 0;
	position: absolute;
	width: 24px;
	transition: opacity 120ms linear;
}

:not(:hover) > .anchor {
	opacity: 0;
}

.anchor svg {
	width: 1rem;
	height: auto;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -.5rem;
}

.hero-title {
	height: 100vh;
	min-height: 250px;
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
}

.hero-title .content {
	text-align: center;
	margin: 2em 0;
}

.hero-title h1 {
	text-align: center;
	font-size: 6rem;
	font-weight: 300;
	margin: 0 0 1rem 0;
	line-height: 8rem;
}

.hero-title h1 img {
	height: 8rem;
	width: auto;
	vertical-align: top;
}

.hero-title p {
	margin-bottom: 0;
}

.hero-title .links {
	list-style: none;
	margin: 2rem 0 0 0;
	padding: 0;
}

.hero-title .links li {
	display: inline-block;
}

.hero-title .links a {
	color: inherit;
}

.hero-title .links a:not(:hover):not(:focus) {
	text-decoration: none;
	color: #818A91;
}

.hero-title .links > li + li {
	margin-left: 2rem;
}

.page-inner {
	position: relative;
	margin: 0 auto;
	padding: 15px 30px 30px 30px;
}

body.is-home .page-inner {
	max-width: 800px;
}

article a:not(:hover):not(:focus) {
	color: #4078c0;
	text-decoration: none;
}

article a:hover,
article a:focus {
	color: #014c8c;
}

article a[href^="http"]::after {
	content: "\21AA";
	transform: rotate(-45deg);
	display: inline-block;
	position: relative;
}

article a[href^="http"]:not(:hover)::after {
	opacity: .6;
}

article p,
article blockquote,
article ul {
	margin: .8333rem 0;
}

article blockquote {
	transition: opacity 1s;
}

article blockquote:not(:hover) {
	opacity: .6;
}

article h1,
article h2,
article h3,
article h4 {
	position: relative;
	font-weight: 300;
	margin-top: 1.6666rem;
	margin-bottom: .8333rem;
}

article h1 + h2,
article h2 + h3,
article h3 + h4 {
	margin-top: 0;
}

article h1 {
	font-size: 2.5rem;
	margin-top: 0;
}

article h2 {
	font-size: 2rem;
}

article h3 {
	font-size: 1.5rem;
}

article h4 {
	font-size: 1rem;
	font-weight: 400;
}

.highlight {
	background: #fafafa;
	margin: .8333rem -.5rem;
	padding: .5rem;
}

article pre {
	overflow: auto;
	padding: .5rem;
	margin: .8333rem calc(-.5rem - 1px);
	background-color: #fafafa;
	border: 1px solid rgba(0,0,0,.07);
}

article code,
article tt {
	padding: 0.2em;
	font-size: .85em;
	background-color: #f7f7f9;
	border-radius: 3px;
}

article pre > code,
article pre > code.hljs {
	display: block;
	padding: 0;
	background-color: transparent;
	border: 0;
}

article table {
	width: 100%;
	border-collapse: collapse;
}

article table tbody {
	background: #fafafa;
}

article table td {
	padding: .2rem .4rem;
	border-top: 1px solid rgba(0,0,0,.07);
}

#assets {
	display: none;
}

/* NAV */

.navbar {
	overflow: hidden;
}

.navbar-brand,
.navbar-nav {
	display: block;
}

.navbar-brand {
	padding: 15px 30px;
	width: 200px;
	border-right: 1px solid rgba(0,0,0,.07);
	position: fixed;
	border-bottom: 1px solid rgba(0,0,0,.07);
}

.navbar-nav {
	padding: 15px 30px;
	border-bottom: 1px solid rgba(0,0,0,.07);
	margin: 0 0 0 261px;
	display: flex;
}

.nav-item {
	display: block;
	flex-grow: 1;
	text-align: center;
}

.docs-wrapper {
	overflow: hidden;
}

.sidebar {
	font-size: .85rem;
	width: 200px;
	padding: 0 30px;
	opacity: .6;
	transition: opacity 240ms;
	background: #fafafa;
	border-right: 1px solid rgba(0,0,0,.07);
	position: fixed;
	height: calc(100vh - 60px);
	overflow-y: auto;
}

.sidebar:hover {
	opacity: 1;
}

.sidebar + .page-inner {
	margin-left: 260px;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
}

.sidebar > ul {
	padding: 15px 0 30px 0;
}

.sidebar > ul > li + li {
	margin-top: .8333rem;
}

.sidebar .active a {
	color: #008cff;;
}

.sidebar .active a::before {
	content: "☞";
	float: left;
	margin-left: -1.2em;
}

.article-actions {
	margin-top: 2.5rem;
	border-top: 1px solid rgba(0,0,0,.07);
	padding-top: .8333rem;
	text-align: right;
	font-size: .85em;
}
